@font-face {
  font-family: 'Maplestory-Bold';
  src: url('../fonts/Maplestory-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maplestory-Light';
  src: url('../fonts/Maplestory-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}